<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <head>
    <title>Página de Questões</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="container-questao">
          <h1>Educação Física</h1>
          <h2>Questões</h2>
          <div class="content-questao">
            <div class="questao">
              <h3>1. QUESTÃO 1-(Enem 2021)</h3>
              <p>
                A história do futebol brasileiro contém, ao longo de um século,
                registros de episódios racistas. Eis o paradoxo: se, de um lado,
                a atividade futebolística era depreciada aos olhos da “boa
                sociedade” como profissão destinada aos pobres, negros e
                marginais, de outro, achava-se investida do poder de representar
                e projetar a nação em escala mundial. A Copa do Mundo no Brasil,
                em 1950, viria a se constituir, nesse sentido, em uma rara
                oportunidade. Contudo, na decisão contra o Uruguai sobreveio o
                inesperado revés. As crônicas esportivas elegiam o goleiro
                Barbosa e o defensor Bigode como bodes expiatórios,
                “descarregando nas costas” dos jogadores os “prejuízos” da
                derrota. Uma chibata moral, eis a a sentença proferida no
                tribunal do brancos. Nos anos 1970, por não atender às
                expectativas normativas suscitadas pelo estereótipo do “bom
                negro”, Paulo César Lima foi classificado como “jogador –
                problema”. Ele esboçava a revolta da chibata no futebol
                brasileiro. Enquanto Barbosa e Bigode, sem alternativa
                suportaram o linchamento moral na derrota 1950, Paulo César
                contra-atacava os que pretendiam condená-lo pelo insucesso de
                1974. O jogador assumia as cores e as causas defendidas pela
                esquadra dos pretos em todas as esferas da vida social. “Sinto
                na pele esse racismo subjacente” revelou a imprensa francesa:
                “Isto é, ninguém ousa pronunciar a palavra ‘racismo’. Mas posso
                garantir que ele existe, mesmo na seleção Brasileira”. Sua
                ousadia constituiu em pronunciar a palavra interdita no espaço
                simbólico do discurso oficial para reafirmar o mito da
                democracia racial. O texto atribui o enfraquecimento do mito da
                democracia racial no futebol à:
              </p>
            </div>
            <form id="form1">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="opcao1A"
                    name="questao1"
                    value="A-Responsabilização dos jogadores negros pela derrota na final da Copa de 1950."
                  />
                  <label for="opcao1A">
                    A-Responsabilização dos jogadores negros pela derrota na
                    final da Copa de 1950.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="opcao1B"
                    name="questao1"
                    value="B-Projeção mundial da nação por um esporte antes destinados aos pobres."
                  />
                  <label for="opcao1B"
                    >B-Projeção mundial da nação por um esporte antes destinados
                    aos pobres.</label
                  >
                </div>
                <div>
                  <input
                    type="radio"
                    id="opcao1C"
                    name="questao1"
                    value="C-Depreciação de um esporte associado a marginalidade."
                  />
                  <label for="opcao1C"
                    >C-Depreciação de um esporte associado a marginalidade.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="opcao1D"
                    name="questao1"
                    value="D-Interdição da palavra racismo no contexto esportivo."
                  />
                  <label for="opcao1D"
                    >D-Interdição da palavra racismo no contexto esportivo.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="opcao1E"
                    name="questao1"
                    value="E-Atitude contestadora de um jogador-problema."
                  />
                  <label for="opcao1E"
                    >E-Atitude contestadora de um jogador-problema.
                  </label>
                </div>
              </div>
              <button
                type="button"
                id="btnQ1EF"
                onclick="verificarQuestao1EF()"
              >
                Verificar
              </button>
            </form>
            <div class="resultado" id="resultado1"></div>
            <div class="resolucao" id="resolucao1" style="display: none">
              <p>
                <strong>Resolução:</strong>E-Atitude contestadora de um
                jogador-problema.
              </p>
              <p>
                O texto atribui o enfraquecimento do mito da democracia racial
                no futebol à atitude contestadora de um "jogador-problema",
                Paulo César Lima, que foi classificado assim nos anos 1970 por
                não atender às expectativas normativas suscitadas pelo
                estereótipo do "bom negro". Ao revelar o racismo subjacente que
                sentia na pele e reafirmar o mito da democracia racial, Paulo
                César ousou pronunciar a palavra interdita no espaço simbólico
                do discurso oficial, o que constituiu uma atitude de contestação
                e resistência a essa situação de injustiça. Portanto, a opção E
                é a correta.
              </p>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>2. QUESTÃO 2-(Enem 2021)</h3>
              <p>
                O skate apareceu como forma de vivência no lazer em períodos de
                baixa nas ondas e ficou conhecido como “surfinho”. No início
                foram utilizados eixos e rodinhas de patins pregados numa
                madeira qualquer, para sua composição, sendo as rodas de
                borracha ou ferro. O grande marco na história do skate ocorreu
                em 1974, quando o engenheiro químico chamado Frank Nasworthy
                descobriu o uretano, material mais flexível, que oferecia mais
                aderência às rodas. A dependência dos skatistas em relação a
                esse novo material igualmente alavancou o surgimento de novas
                manobras e possibilitou a um maior número de pessoas
                inexperientes começar a prática dessa modalidade. O resultado
                foi a criação de campeonatos, marcas, fábricas e lojas
                especializadas. De acordo com o texto, diversos fatores ao longo
                do tempo
              </p>
            </div>
            <form id="form2">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="questao2"
                    name="questao2"
                    value="A-contribuíram para a democratização do skate."
                  />
                  <label for="questao2"
                    >A-contribuíram para a democratização do skate.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao2"
                    name="questao2"
                    value="B-evidenciaram as demandas comerciais dos skatistas."
                  />
                  <label for="questao2"
                    >B-evidenciaram as demandas comerciais dos skatistas.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao2"
                    name="questao2"
                    value="C-definiram a carreira de skatista profissional."
                  />
                  <label for="questao2"
                    >C-definiram a carreira de skatista profissional.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao2"
                    name="questao2"
                    value="D-permitiram que a prática social do skate substituísse o surfe."
                  />
                  <label for="questao2"
                    >D-permitiram que a prática social do skate substituísse o
                    surfe.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao2"
                    name="questao2"
                    value="E-indicaram a autonomia dos praticantes de skate."
                  />
                  <label for="questao2"
                    >E-indicaram a autonomia dos praticantes de skate.
                  </label>
                </div>
                <button
                  type="button"
                  id="btnQ2EF"
                  onclick="verificarQuestao2EF()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado2"></div>
            <div class="resolucao" id="resolucao2" style="display: none">
              <p>
                <strong>Resolução:</strong> A-contribuíram para a democratização
                do skate.
              </p>
              <p>
                De acordo com o texto, diversos fatores ao longo do tempo
                contribuíram para a democratização do skate, ou seja, para a
                ampliação do acesso à prática dessa modalidade. Isso incluiu a
                descoberta do uretano, material mais flexível e que oferecia
                mais aderência às rodas, o que possibilitou o surgimento de
                novas manobras e facilitou o início da prática para um maior
                número de pessoas inexperientes. O resultado disso foi a criação
                de campeonatos, marcas, fábricas e lojas especializadas, o que
                pode ser interpretado como uma resposta às demandas comerciais
                dos skatistas, mas não foi mencionado como um fator determinante
                para isso. Portanto, a opção A é a correta.
              </p>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>3. QUESTÃO 3-(Enem Digital 2020)</h3>
              <p>
                Os cuidados com o corpo vão se tornando uma exigência na
                modernidade e implicam a convergência de uma série de elementos:
                as tecnologias, para tanto, vão se desenvolvendo de maneira
                acelerada; o mercado dos produtos e serviços voltados para o
                corpo vai se expandindo; a higiene que fundamentava esses
                cuidados vai sendo substituída pelos prazeres do “corpo”,
                implicação lógica do processo de secularização, no qual há a
                identificação da personalidade dos indivíduos com sua aparência.
                Por todas essas circunstâncias, o cuidado com o corpo
                transforma-se numa ditadura do corpo, um corpo que corresponda à
                expectativa desse tempo, um corpo que seja trabalhado arduamente
                e do qual os vestígios de naturalidade sejam eliminados. O
                fenômeno social identificado, em relação à presença do corpo na
                sociedade, indica que
              </p>
            </div>
            <form id="form3">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="questao3"
                    name="questao3"
                    value="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo."
                  />
                  <label for="questao3">
                    A-as tecnologias, o mercado dos produtos e serviços e a
                    higiene criaram uma ditadura do corpo.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao3"
                    name="questao3"
                    value="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo."
                  />
                  <label for="questao3">
                    B-os cuidados com o corpo na modernidade reforçam a
                    naturalidade da personalidade do indivíduo.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao3"
                    name="questao3"
                    value="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal"
                  />
                  <label for="questao3">
                    C-a expansão das tecnologias de cuidado reduz o impacto
                    desempenhado pelos padrões estéticos na construção da imagem
                    corporal
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao3"
                    name="questao3"
                    value="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos."
                  />
                  <label for="questao3">
                    D-o enfraquecimento atual dos padrões de beleza favorece o
                    crescimento do mercado de produtos e serviços voltados aos
                    cuidados estéticos.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao3"
                    name="questao3"
                    value="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população."
                  />
                  <label for="questao3">
                    E-os padrões estéticos desempenham uma importante função
                    social à medida que induzem à melhoria dos indicadores de
                    saúde na população.
                  </label>
                </div>

                <button
                  type="button"
                  id="btnQ3EF"
                  onclick="verificarQuestao3EF()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado3"></div>
            <div class="resolucao" id="resolucao3" style="display: none">
              <p>
                <strong>Resolução:</strong>
                A-as tecnologias, o mercado dos produtos e serviços e a higiene
                criaram uma ditadura do corpo.
              </p>
              <p>
                De acordo com o texto, os cuidados com o corpo na modernidade se
                tornaram uma exigência e envolvem a convergência de uma série de
                elementos, como o desenvolvimento acelerado de tecnologias, o
                crescimento do mercado de produtos e serviços voltados para o
                corpo, e o fato de que a higiene que antes fundamentava esses
                cuidados foi substituída pelos prazeres do "corpo". Isso leva a
                uma ditadura do corpo, em que há uma expectativa de que ele
                corresponda aos padrões estéticos desse tempo e seja trabalhado
                arduamente para eliminar qualquer traço de naturalidade.
                Portanto, a opção A é a correta.
              </p>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>4. QUESTÃO 4-(Enem Digital 2020)</h3>
              <p>
                O que dizer de um corpo flácido, gordo, considerado deselegante
                nos dias de hoje, mas que era, há não muito tempo, considerado
                sensual e inspirador por pintores clássicos? Como entender o
                conceito de saúde, associado antigamente a um corpo robusto, até
                mesmo gordo, e atualmente relacionado a um corpo magro? E o
                corpo já não tão jovem, sobre o qual é imposta uma série de
                “consertos” e “reparos” para parecer mais jovem? O que se pode
                dizer é que o corpo é uma síntese da cultura, pois, através do
                seu corpo, o ser humano vai assimilando e se apropriando dos
                valores, normas e costumes sociais, em um processo de
                incorporação. As mudanças das representações sobre o corpo ao
                longo da história são provenientes da
              </p>
            </div>
            <form id="form4">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="questao4"
                    name="questao4"
                    value="A-busca permanente pela saúde relacionada a um padrão corporal específico."
                  />
                  <label for="questao4">
                    A - Busca permanente pela saúde relacionada a um padrão
                    corporal específico.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao4"
                    name="questao4"
                    value="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. "
                  />
                  <label for="questao4">
                    B - Interferência da História da Arte sobre padrões
                    corporais valorizados no cotidiano.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao4"
                    name="questao4"
                    value="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal."
                  />
                  <label for="questao4">
                    C - Pesquisa por novos procedimentos estéticos voltados aos
                    cuidados com a aparência corporal.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao4"
                    name="questao4"
                    value="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos."
                  />
                  <label for="questao4">
                    D - O enfraquecimento atual dos padrões de beleza favorece o
                    crescimento do mercado de produtos e serviços voltados aos
                    cuidados estéticos.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao4"
                    name="questao4"
                    value="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo."
                  />
                  <label for="questao4">
                    E - Influência da sociedade na construção dos sentidos e
                    significados sociais relacionados ao corpo.
                  </label>
                </div>

                <button
                  type="button"
                  id="btnQ4EF"
                  onclick="verificarQuestao4EF()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado4"></div>
            <div class="resolucao" id="resolucao4" style="display: none">
              <p>
                <strong>Resolução:</strong>
                E - influência da sociedade na construção dos sentidos e
                significados sociais relacionados ao corpo.
              </p>
              <p>
                As mudanças das representações sobre o corpo ao longo da
                história são provenientes da influência da sociedade na
                construção dos sentidos e significados sociais relacionados ao
                corpo. É importante destacar que o corpo é uma síntese da
                cultura e reflete os valores, normas e costumes da sociedade em
                que está inserido. Portanto, a forma como o corpo é visto e
                valorizado pode variar de acordo com a época e o contexto
                cultural. Além disso, é preciso levar em consideração que o
                conceito de saúde também pode mudar ao longo do tempo, e que
                isso pode estar relacionado a diferentes fatores, como a
                medicina e a nutrição, por exemplo.
              </p>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>5. QUESTÃO 5-(Enem Digital 2020)</h3>
              <p>
                Nos dias atuais, para as crianças e os adolescentes, a
                alimentação adequada e balanceada está associada, na maioria das
                vezes, à busca da forma ideal, segundo padrões ditados pela
                mídia. Se antes essa preocupação era predominantemente feminina,
                hoje existem adolescentes tentando emagrecer a qualquer custo:
                entram e saem de dietas e regimes feitos por conta própria,
                automedicam-se ou praticam exercícios físicos sem orientação.
                Adolescentes associam que a conquista da “forma ideal” do corpo
                está relacionada à
              </p>
            </div>
            <form id="form5">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="questao5"
                    name="questao5"
                    value="A-adoção de hábitos inadequados à saúde no cotidiano."
                  />
                  <label for="questao5">
                    A-adoção de hábitos inadequados à saúde no cotidiano.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao5"
                    name="questao5"
                    value="B-busca de auxílio médico para o tratamento com fármacos."
                  />
                  <label for="questao5">
                    B-busca de auxílio médico para o tratamento com fármacos.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao5"
                    name="questao5"
                    value="C-adesão a programas oferecidos por academias de ginástica."
                  />
                  <label for="questao5">
                    C-adesão a programas oferecidos por academias de ginástica.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao5"
                    name="questao5"
                    value="D-atuação da mídia na estética presente no imaginário feminino."
                  />
                  <label for="questao5">
                    D-atuação da mídia na estética presente no imaginário
                    feminino.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="questao5"
                    name="questao5"
                    value="E-procura de um nutricionista para a realização de dieta e regime."
                  />
                  <label for="questao5">
                    E-procura de um nutricionista para a realização de dieta e
                    regime.
                  </label>
                </div>

                <button
                  type="button"
                  id="btnQ5EF"
                  onclick="verificarQuestao5EF()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado5"></div>
            <div class="resolucao" id="resolucao5" style="display: none">
              <p>
                <strong>Resolução:</strong>
                A-adoção de hábitos inadequados à saúde no cotidiano
              </p>
              <p>
                Adolescentes associam que a conquista da "forma ideal" do corpo
                está relacionada à adoção de hábitos inadequados à saúde no
                cotidiano. A pressão pela conformidade aos padrões de beleza
                impostos pela mídia pode levar os adolescentes a buscar formas
                pouco saudáveis de alcançar esses padrões, como entrar e sair de
                dietas e regimes feitos por conta própria, automedicar-se ou
                praticar exercícios físicos sem orientação. É importante
                ressaltar que a busca pela forma ideal do corpo não deve ser
                priorizada em detrimento da saúde e da qualidade de vida. É
                preciso encontrar um equilíbrio e adotar hábitos saudáveis de
                alimentação e exercícios físicos, com o auxílio de profissionais
                qualificados, se necessário.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
