<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <head>
    <title>Página de Questões</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="container-questao">
          <h1>Espanhol</h1>

          <h2>Página de Questões</h2>

          <div class="content-questao">
            <div class="questao">
              <h3>1.QUESTÃO 1-(Enem/2018)</h3>
              <p>Mayo</p>

              <p>15</p>
              <p>
                Que mañana no sea otro nombre de hoy En el año 2011, miles de
                jóvenes, despojados de sus casas y de sus empleos, ocuparon las
                plazas y las calles de varias ciudades de España. Y la
                indignación se difundió. La buena salud resultó más contagiosa
                que las pestes, y las voces de los indignados atravesaron las
                fronteras dibujadas en los mapas. Así resonaron en el mundo: Nos
                dijeron "¡a la puta calle! y aquí estamos. Apaga la tele y
                enciende la calle. La llaman crisis, pero es estafa. No falta
                dinero: sobran ladrones. Los mercados gobiernan. Yo no los voté.
                Ellos toman decisiones por nosotros, sin nosotros. Se alquila
                esclavo económico. Estoy buscando mis derechos. ¿Alguien los ha
                visto? Si no nos dejan soñar, no los dejaremos dormir.
              </p>
              <p>
                Ao elencar algumas frases proferidas durante protestos na
                Espanha, o enunciador transcreve, de forma direta, as
                reivindicações dos manifestantes para
              </p>
            </div>
            <form id="form1">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-provocá-los de forma velada"
                    name="questao1"
                    value="A-provocá-los de forma velada"
                  />
                  <label for="provocá-los de forma velada"
                    >A-provocá-los de forma velada
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-dar voz ao movimento popular"
                    name="questao1"
                    value="B-dar voz ao movimento popular"
                  />
                  <label for="B-dar voz ao movimento popular"
                    >B-dar voz ao movimento popular</label
                  >
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-fomentar o engajamento do leitor"
                    name="questao1"
                    value="C-fomentar o engajamento do leitor"
                  />
                  <label for="C-fomentar o engajamento do leitor"
                    >C-fomentar o engajamento do leitor
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-favorecer o diálogo entre governo e sociedade"
                    name="questao1"
                    value="D-favorecer o diálogo entre governo e sociedade"
                  />
                  <label
                    for="D-favorecer o diálogo entre governo e sociedade
                "
                    >D-favorecer o diálogo entre governo e sociedade
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E- instaurar dúvidas sobre a legitimidade da causa"
                    name="questao1"
                    value="E- instaurar dúvidas sobre a legitimidade da causa"
                  />
                  <label
                    for="E- instaurar dúvidas sobre a legitimidade da causa
                "
                    >E- instaurar dúvidas sobre a legitimidade da causa
                  </label>
                </div>
                <button
                  id="btnQ1ES"
                  type="button"
                  onclick="verificarQuestao1ES()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado1"></div>
            <div class="resolucao" id="resolucao1" style="display: none">
              <p><strong>Resolução:</strong>B-dar voz ao movimento popular</p>
              <p>
                A transcrição das frases feita pelo enunciador tem o intuito de
                dar voz ao movimento popular. Esse objetivo fica explícito
                através da frase Así resonaron en el mundo, que em português
                significa "Assim ecoaram no mundo" (as vozes).
              </p>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>2. QUESTÃO 2-(Enem/2018)</h3>
              <p>
                El día en que lo iban a matar, Santiago Nasar se levantó a las
                5:30 de la mañana para esperar el buque en que llegaba el
                obispo. Había soñado que atravesaba un bosque de higuerones
                donde caía una llovizna tierna, y por un instante fue feliz en
                el sueño, pero al despertar se sintió por completo salpicado de
                cagada de pájaros. “Siempre soñaba con árboles”, me dijo Plácida
                Linero, su madre, evocando 27 años después los pormenores de
                aquel lunes ingrato. “La semana anterior había soñado que iba
                solo en un avión de papel de estaño que volaba sin tropezar por
                entre los almendros”, me dijo. Tenía una reputación muy bien
                ganada de intérprete certera de los sueños ajenos, siempre que
                se los contaran en ayunas, pero no había advertido ningún
                augurio aciago en esos dos sueños de su hijo, ni en los otros
                sueños con árboles que él le había contado en las mañanas que
                precedieron a su muerte.
              </p>
              <p>
                Na introdução do romance, o narrador resgata lembranças de
                Plácida Linero relacionadas a seu filho Santiago Nasar. Nessa
                introdução, o uso da expressão augurio aciago remete ao (à) :
              </p>
            </div>
            <form id="form2">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A- relação mística que se estabelece entre Plácida e seu filho Santiago"
                    name="questao2"
                    value="A- relação mística que se estabelece entre Plácida e seu filho Santiago"
                  />
                  <label
                    for="A- relação mística que se estabelece entre Plácida e seu filho Santiago"
                    >A- relação mística que se estabelece entre Plácida e seu
                    filho Santiago
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-destino trágico de Santiago, que Plácida foi incapaz de prever nos sonhos"
                    name="questao2"
                    value="B-destino trágico de Santiago, que Plácida foi incapaz de prever nos sonhos"
                  />
                  <label
                    for="B-destino trágico de Santiago, que Plácida foi incapaz de prever nos sonhos"
                    >B-destino trágico de Santiago, que Plácida foi incapaz de
                    prever nos sonhos
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-descompasso entre a felicidade de Santiago nos sonhos e seu azar na realidade"
                    name="questao2"
                    value="C-descompasso entre a felicidade de Santiago nos sonhos e seu azar na realidade"
                  />
                  <label
                    for="C-descompasso entre a felicidade de Santiago nos sonhos e seu azar na realidade"
                    >C-descompasso entre a felicidade de Santiago nos sonhos e
                    seu azar na realidade
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-crença de Plácida na importância da interpretação dos sonhos para mudar o futuro"
                    name="questao2"
                    value="D-crença de Plácida na importância da interpretação dos sonhos para mudar o futuro"
                  />
                  <label
                    for="D-crença de Plácida na importância da interpretação dos sonhos para mudar o futuro"
                    >D-crença de Plácida na importância da interpretação dos
                    sonhos para mudar o futuro
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-presença recorrente de elementos sombrios que se revelam nos sonhos de Santiago"
                    name="questao2"
                    value="E-presença recorrente de elementos sombrios que se revelam nos sonhos de Santiago"
                  />
                  <label
                    for="E-presença recorrente de elementos sombrios que se revelam nos sonhos de Santiago"
                    >E-presença recorrente de elementos sombrios que se revelam
                    nos sonhos de Santiago
                  </label>
                </div>
                <button
                  id="btnQ2ES"
                  type="button"
                  onclick="verificarQuestao2ES()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado2"></div>
            <div class="resolucao" id="resolucao2" style="display: none">
              <p>
                <strong>Resolução:</strong> B-destino trágico de Santiago, que
                Plácida foi incapaz de prever nos sonhos <br />
              </p>
              <p>
                Agurio aciago significa mau agouro, mau sinal. Na introdução do
                livro de Gabriel García Marquez, a mãe do protagonista (Plácida)
                afirma que não conseguiu interpretar os sinais de tragédia que
                se faziam notar nos sonhos do próprio filho.
              </p>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>3. QUESTÃO 3-(Enem/2016)</h3>
              <p>Inestabilidad estable</p>
              <p>
                Los que llevan toda la vida esforzándose por conseguir un
                pensamiento estable, con suficiente solidez como para evitar que
                la incertidumbre se apodere de sus habilidades, todas esas
                lecciones sobre cómo asegurarse el porvenir, aquellos que nos
                aconsejaban que nos dejáramos de bagatelas poéticas y
                encontráramos un trabajo fijo y etcétera, abuelos, padres,
                maestros, suegros, bancos y aseguradoras, nos estaban dando gato
                por liebre.
              </p>
              <p>
                Y el mundo, este mundo que nos han creado, que al tocarlo en la
                pantalla creemos estar transformando a medida de nuestro deseo,
                nos está modelando según un coeficiente de rentabilidad, nos
                está licuando para integrarnos a su metabolismo reflejo.
              </p>
              <p>
                O título do texto antecipa a opinião do autor pelo uso de dois
                termos contraditórios que expressam o sentido de :
              </p>
            </div>
            <form id="form3">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-competitividade e busca do lucro, que caracterizam a sociedade contemporânea"
                    name="questao3"
                    value="A-competitividade e busca do lucro, que caracterizam a sociedade contemporânea"
                  />
                  <label
                    for="A-competitividade e busca do lucro, que caracterizam a sociedade contemporânea"
                  >
                    A-competitividade e busca do lucro, que caracterizam a
                    sociedade contemporânea
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-busca de estabilidade financeira e emocional, que marca o mundo atual"
                    name="questao3"
                    value="B-busca de estabilidade financeira e emocional, que marca o mundo atual"
                  />
                  <label
                    for="B-busca de estabilidade financeira e emocional, que marca o mundo atual"
                  >
                    B-busca de estabilidade financeira e emocional, que marca o
                    mundo atual
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-negação dos valores defendidos pelas gerações anteriores em relação ao trabalho"
                    name="questao3"
                    value="C-negação dos valores defendidos pelas gerações anteriores em relação ao trabalho"
                  />
                  <label
                    for="C-negação dos valores defendidos pelas gerações anteriores em relação ao trabalho"
                  >
                    C-negação dos valores defendidos pelas gerações anteriores
                    em relação ao trabalho
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-necessidade de realização pessoal e profissional no sistema vigente"
                    name="questao3"
                    value="D-necessidade de realização pessoal e profissional no sistema vigente"
                  />
                  <label
                    for="D-necessidade de realização pessoal e profissional no sistema vigente"
                  >
                    D-necessidade de realização pessoal e profissional no
                    sistema vigente
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-permanência da inconstância em uma sociedade marcada por contínuas mudanças"
                    name="questao3"
                    value="E-permanência da inconstância em uma sociedade marcada por contínuas mudanças"
                  />
                  <label
                    for="E-permanência da inconstância em uma sociedade marcada por contínuas mudanças"
                  >
                    E- permanência da inconstância em uma sociedade marcada por
                    contínuas mudanças
                  </label>
                </div>

                <button
                  id="btnQ3ES"
                  type="button"
                  onclick="verificarQuestao3ES()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado3"></div>
            <div class="resolucao" id="resolucao3" style="display: none">
              <p>
                <strong>Resolução:</strong>
                E-permanência da inconstância em uma sociedade marcada por
                contínuas mudanças
              </p>
              <p>
                O sentido das palavras contraditórias utilizadas no título,
                indicam a ideia do autor de que a inconstância das mudanças que
                ocorriam na sociedade (a instabilidade) eram permanentes
                (constantes).
              </p>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>4. QUESTÃO 4-(Enem/2015)</h3>
              <p>Emigrantes</p>
              <p>
                En todo emigrante existen dos posibles actitudes vitales: una la
                de considerar su experiencia como aventura pasajera, vivir
                mental y emocionalmente en la patria de origen, cultivando su
                nostalgia, y definir la realidad presente por comparación con el
                mundo que se ha dejado; la otra es vivir el presente tal como
                viene dado, proyectarlo en el futuro, cortar raíces y dominar
                nostalgias, sumergirse en la nueva cultura, aprenderla y
                asimilarla. El drama personal del emigrante reside en el hecho
                de que casi nunca es posible esa elección en términos absolutos
                y, al igual que el mestizo, se siente parte de dos mundos sin
                integrarse por completo en uno de ellos con exclusión del otro.
              </p>
              <p>
                O texto apresenta uma reflexão sobre a condição do imigrante, o
                qual, para o autor, tem de lidar com o dilema da :
              </p>
            </div>
            <form id="form4">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-constatação de sua existência no entrelugar"
                    name="questao4"
                    value="A-constatação de sua existência no entrelugar"
                  />
                  <label for="A-constatação de sua existência no entrelugar">
                    A-constatação de sua existência no entrelugar
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-instabilidade da vida em outro país "
                    name="questao4"
                    value="B-instabilidade da vida em outro país "
                  />
                  <label for="B- instabilidade da vida em outro país ">
                    B- instabilidade da vida em outro país
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-ausência de referências do passado"
                    name="questao4"
                    value="C-ausência de referências do passado"
                  />
                  <label for="C-ausência de referências do passado ">
                    C-ausência de referências do passado
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-apropriação dos valores do outro"
                    name="questao4"
                    value="D-apropriação dos valores do outro"
                  />
                  <label for="D- apropriação dos valores do outro">
                    D- apropriação dos valores do outro
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E- ruptura com o país de origem"
                    name="questao4"
                    value="E- ruptura com o país de origem"
                  />
                  <label for="E- ruptura com o país de origem">
                    E- ruptura com o país de origem
                  </label>
                </div>

                <button
                  id="btnQ4ES"
                  type="button"
                  onclick="verificarQuestao4ES()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado4"></div>
            <div class="resolucao" id="resolucao4" style="display: none">
              <p>
                <strong>Resolução:</strong> A-constatação de sua existência no
                entrelugar.
              </p>
              <p>
                O autor considera que todo imigrante vive em um clima de
                dualidade no que diz respeito à vida que tinha em seu lugar de
                origem e à nova vida em seu novo país. Nas frases se siente
                parte de dos mundos e casi nunca es posible esa elección en
                términos absolutos, fica explícita a ideia do quão difícil é
                para um imigrante estabelecer uma união entre seus dois
                universos.
              </p>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>5. QUESTÃO 5-(Enem/2018)</h3>
              <p>¿Como gestionar la diversidad lingüística en el aula?</p>
              <p>
                El aprendizaje de idiomas es una de las demandas de la sociedad
                en la escuela: los alumnos tienen que finalizar la
                escolarización con un buen conocimiento, por lo menos, de las
                tres lenguas curriculares: catalán, castellano e inglés (o
                francés, portugués...).
              </p>
              <p>
                La metodología que promueve el aprendizaje integrado de idiomas
                en la escuela tiene en cuenta las relaciones entre las
                diferentes lenguas: la mejor enseñanza de una lengua incide en
                Ia mejora de todas las demás. Se trate de educar en y para la
                diversidad lingüística y cultural.
              </p>
              <p>
                Por eso, la V Jornada de Buenas Prácticas de Gestión del
                Multilingüismo, que se celebrará en Barcelona, debatirá sobre la
                gestión del multilingüismo en el aula. El objetivo es difundir
                propuestas para el aprendizaje integrado de idiomas y presentar
                experiencias prácticas de gestión de la diversidad lingüística
                presente en las aulas.
              </p>
              <p>
                Na região da Catalunha, Espanha, convivem duas línguas oficiais:
                o catalão e o espanhol. Além dessas, ensinam-se outras línguas
                nas escolas. De acordo com o texto, para administrar a variedade
                linguística nas aulas, é necessário:
              </p>
            </div>
            <form id="form5">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-ampliar o número de línguas ofertadas para enriquecer o conteúdo"
                    name="questao5"
                    value="A-ampliar o número de línguas ofertadas para enriquecer o conteúdo"
                  />
                  <label
                    for="A-ampliar o número de línguas ofertadas para enriquecer o conteúdo"
                  >
                    A-ampliar o número de línguas ofertadas para enriquecer o
                    conteúdo
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-divulgar o estudo de diferentes idiomas e culturas para atrair os estudantes"
                    name="questao5"
                    value="B-divulgar o estudo de diferentes idiomas e culturas para atrair os estudantes"
                  />
                  <label
                    for="B-divulgar o estudo de diferentes idiomas e culturas para atrair os estudantes"
                  >
                    B-divulgar o estudo de diferentes idiomas e culturas para
                    atrair os estudantes
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-privilegiar o estudo de línguas maternas para valorizar os aspectos regionais"
                    name="questao5"
                    value="C-privilegiar o estudo de línguas maternas para valorizar os aspectos regionais"
                  />
                  <label
                    for="C-privilegiar o estudo de línguas maternas para valorizar os aspectos regionais"
                  >
                    C-privilegiar o estudo de línguas maternas para valorizar os
                    aspectos regionais
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-explorar as relações entre as línguas estudadas para promover a diversidade"
                    name="questao5"
                    value="D-explorar as relações entre as línguas estudadas para promover a diversidade"
                  />
                  <label
                    for="D-explorar as relações entre as línguas estudadas para promover a diversidade"
                  >
                    D-explorar as relações entre as línguas estudadas para
                    promover a diversidade
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-debater as práticas sobre multilinguismo para formar melhor os professores de línguas"
                    name="questao5"
                    value="E-debater as práticas sobre multilinguismo para formar melhor os professores de línguas"
                  />
                  <label
                    for="E-debater as práticas sobre multilinguismo para formar melhor os professores de línguas"
                  >
                    E-debater as práticas sobre multilinguismo para formar
                    melhor os professores de línguas
                  </label>
                </div>

                <button
                  id="btnQ5ES"
                  type="button"
                  onclick="verificarQuestao5ES()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado5"></div>
            <div class="resolucao" id="resolucao5" style="display: none">
              <p>
                <strong>Resolução:</strong>
                D-explorar as relações entre as línguas estudadas para promover
                a diversidade
              </p>
              <p>
                O texto afirma que a metodologia que promove a aprendizagem
                integrada de idiomas leva em conta as relações entre as
                diferentes línguas. Os trechos "La metodologia que promueve el
                aprendizaje integrado de idiomas en la escuela tiene en cuenta
                relaciones entre las diferentes lenguas (…) Se trata de educar
                en y para la diversidad lingüística y cultural” enfatizam a
                ideia de que o estabelecimento de uma ligação entre as
                diferentes línguas influenciam a gestão da variedade
                linguística.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
