<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('components/head') %>
    <title>Home Quest Vest</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="title-home">
        <% if (pages.length > 0) { pages.forEach((page) => { if
        (page.position_name === "Home") { %>
        <div><%- page.page_content %></div>
        <% } }); } %>
      </div>
      <div class="home2">
        <div class="materias">
          <div class="content-form-login2">
            <form action="/loginRegister/login" method="post">
              <h1 style="color: var(--cor-verde)">Matérias</h1>
              <ul class="materias_home">
                <li>
                  <h3>Ciências da Natureza</h3>
                  <br />
                  (<a href="/materias/biologia">Biologia</a>,
                  <a href="/materias/quimica">Química</a>,
                  <a href="/materias/fisica">Física</a>) <br />
                  <br />
                  <h3>Ciências Humanas</h3>
                  <br />
                  (<a href="/materias/historia">História</a>,
                  <a href="/materias/geografia">Geografia</a>,
                  <a href="/materias/filosofia">Filosofia</a> ,
                  <a href="/materias/sociologia">Sociologia</a>) <br />
                  <br />
                  <h3>Linguagens, Códigos e suas tecnologias</h3>
                  <br />
                  (<a href="/materias/portugues">Português</a>,
                  <a href="/materias/ingles">Inglês</a>,
                  <a href="/materias/espanhol">Espanhol</a>,
                  <a href="/materias/artes">Artes</a>,
                  <a href="/materias/educacao-fisica">Educação Física</a>,
                  <a href="/materias/tecnologias-da-informacao-e-comunicacao"
                    >Tecnologias da Informação e Comunicação</a
                  >) <br />
                  <br />
                  <h3><a href="/materias/matematica">Matemática</a></h3>
                </li>
              </ul>
            </form>
          </div>
          <div class="centralizado">
            <div class="vestibulares">
              <div class="content-form-login2">
                <form action="/loginRegister/login" method="post">
                  <h1 style="color: var(--cor-verde)">Vestibulares</h1>
                  <ul>
                    <li>
                      <h3 id="enem"><p>Enem</p></h3>
                      <br />
                      <a href="/vestibulares">
                        <img src="/img/1.png" alt="Descrição da Imagem" />
                        <br />
                      </a>
                      <br />
                      <div>
                        <h3>
                          ↑ Clique aqui e você será direcionado aos vestibulares
                          disponíveis.
                        </h3>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
