<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('components/head') %>
    <title>ingles</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="container-questao">
          <h1>Inglês</h1>

          <h2>Página de Questões</h2>

          <div class="content-questao">
            <div class="questao">
              <h3>1.QUESTÃO 1-(Enem 2013)</h3>
              <p>National Geographic News</p>

              <p>Christine Dell’Amore</p>

              <p>
                Published April 26, 2010 Our bodies produce a small steady
                amount of natural morphine, a new study suggests. Traces of the
                chemical are often found in mouse and human urine, leading
                scientists to wonder whether the drug is being made naturally or
                being delivered by something the subjects consumed. The new
                research shows that mice produce the “incredible painkiller” –
                and that humans and other mammals possess the same chemical road
                map for making it, said study co-author Meinhart Zenk, who
                studies plant-based pharmaceuticals at the Donald Danforth Plant
                Science Center in St. Louis, Missouri.
              </p>

              <p>
                Ao ler a matéria publicada na National Geographic para a
                realização de um trabalho escolar, um estudante descobriu que:
              </p>
            </div>
            <form id="form1">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A- os compostos químicos da morfina, produzidos por humanos, são manipulados no Missouri."
                    name="questao1"
                    value="A- os compostos químicos da morfina, produzidos por humanos, são manipulados no Missouri."
                  />
                  <label
                    for="A- os compostos químicos da morfina, produzidos por humanos, são manipulados no Missouri."
                    >A- os compostos químicos da morfina, produzidos por
                    humanos, são manipulados no Missouri.</label
                  >
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-os ratos e os humanos possuem a mesma via metabólica para produção de morfina."
                    name="questao1"
                    value="B-os ratos e os humanos possuem a mesma via metabólica para produção de morfina."
                  />
                  <label
                    for="B-os ratos e os humanos possuem a mesma via metabólica para produção de morfina."
                    >B-os ratos e os humanos possuem a mesma via metabólica para
                    produção de morfina.</label
                  >
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-a produção de morfina em grande quantidade minimiza a dor em ratos e humanos."
                    name="questao1"
                    value="C-a produção de morfina em grande quantidade minimiza a dor em ratos e humanos."
                  />
                  <label
                    for="C-a produção de morfina em grande quantidade minimiza a dor em ratos e humanos."
                    >C-a produção de morfina em grande quantidade minimiza a dor
                    em ratos e humanos.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-os seres humanos têm uma predisposição genética para inibir a dor."
                    name="questao1"
                    value="D-os seres humanos têm uma predisposição genética para inibir a dor."
                  />
                  <label
                    for="D-os seres humanos têm uma predisposição genética para inibir a dor.
                "
                    >D-os seres humanos têm uma predisposição genética para
                    inibir a dor.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-a produção de morfina é um traço incomum entre os animais."
                    name="questao1"
                    value="E-a produção de morfina é um traço incomum entre os animais."
                  />
                  <label
                    for="E-a produção de morfina é um traço incomum entre os animais.
                "
                    >E-a produção de morfina é um traço incomum entre os
                    animais.
                  </label>
                </div>
                <button
                  id="btnQ1ING"
                  type="button"
                  onclick="verificarQuestao1ING()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado1"></div>
            <div class="resolucao" id="resolucao1" style="display: none">
              <p>
                <strong>Resolução:</strong>B-os ratos e os humanos possuem a
                mesma via metabólica para produção de morfina.
              </p>
              <P>
                A alternativa correta é a [B], pois o texto afirma que humans
                and other mammals possess the same chemical road map for making
                it (“seres humanos e outros mamíferos possuem a mesma via
                metabólica para produzi-la [morfina]”).
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>2. QUESTÃO 2-(Enem 2012)</h3>
              <P>Quotes of the Day</P>

              <P>Friday, Sep. 02, 2011</P>

              <P
                >“There probably was a shortage of not just respect and
                boundaries but also love. But you do need, when they cross the
                line and break the law, to be very tough.” British Prime
                Minister DAVID CAMERON, arguing that those involved in the
                recent riots in England need “tough love” as he vows to “get to
                grips” with the country’s problem families.</P
              >

              <P
                >A respeito dos tumultos causados na Inglaterra em agosto de
                2011, as palavras de alerta de David Cameron têm como foco
                principal:</P
              >
            </div>
            <form id="form2">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-enfatizar a discriminação contra os jovens britânicos e suas famílias."
                    name="questao2"
                    value="A-enfatizar a discriminação contra os jovens britânicos e suas famílias."
                  />
                  <label
                    for="A-enfatizar a discriminação contra os jovens britânicos e suas famílias."
                    >A-enfatizar a discriminação contra os jovens britânicos e
                    suas famílias.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-criticar as ações agressivas demonstradas nos tumultos pelos jovens."
                    name="questao2"
                    value="B-criticar as ações agressivas demonstradas nos tumultos pelos jovens."
                  />
                  <label
                    for="B-criticar as ações agressivas demonstradas nos tumultos pelos jovens."
                    >B-criticar as ações agressivas demonstradas nos tumultos
                    pelos jovens.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-estabelecer relação entre a falta de limites dos jovens e o excesso de amor."
                    name="questao2"
                    value="C-estabelecer relação entre a falta de limites dos jovens e o excesso de amor."
                  />
                  <label
                    for="C-estabelecer relação entre a falta de limites dos jovens e o excesso de amor."
                    >C-estabelecer relação entre a falta de limites dos jovens e
                    o excesso de amor.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-reforçar a ideia de que os jovens precisam de amor, mas também de firmeza."
                    name="questao2"
                    value="D-reforçar a ideia de que os jovens precisam de amor, mas também de firmeza."
                  />
                  <label
                    for="D-reforçar a ideia de que os jovens precisam de amor, mas também de firmeza."
                    >D-reforçar a ideia de que os jovens precisam de amor, mas
                    também de firmeza.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-descrever o tipo de amor que gera problemas às famílias de jovens britânicos."
                    name="questao2"
                    value="E-descrever o tipo de amor que gera problemas às famílias de jovens britânicos."
                  />
                  <label
                    for="E-descrever o tipo de amor que gera problemas às famílias de jovens britânicos."
                    >E-descrever o tipo de amor que gera problemas às famílias
                    de jovens britânicos.
                  </label>
                </div>
                <button
                  id="btnQ2ING"
                  type="button"
                  onclick="verificarQuestao2ING()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado2"></div>
            <div class="resolucao" id="resolucao2" style="display: none">
              <p>
                <strong>Resolução:</strong> D-reforçar a ideia de que os jovens
                precisam de amor, mas também de firmeza
              </p>
              <P>
                A resposta pode ser encontrada no seguinte trecho: “There
                probably was a shortage of not just respect and boundaries but
                also love” (Houve provavelmente uma falta não só de respeito e
                limites, mas também de amor).
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>3. QUESTÃO 3-(Enem 2018)</h3>
              <P
                >Don't write in English, they said, English is not your mother
                tongue...</P
              >

              <P>...The language I speak</P>

              <P>Becomes mine, its distortions, its queerness</P>

              <P> All mine, mine alone, it is half English, half</P>

              <P>Indian, funny perhaps, but it is honest,</P>

              <P>It is as human as I am human...</P>

              <P>...It voices my joys, my longings my</P>

              <P>Hopes... (Kamala Das, 1965:10)</P>

              <P
                >A poetisa Kamala Das, como muitos escritores indianos, escreve
                suas obras em inglês, apesar de essa não ser sua primeira
                língua. Nesses versos, ela:</P
              >
            </div>
            <form id="form3">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-usa a língua inglesa com efeito humorístico."
                    name="questao3"
                    value="A-usa a língua inglesa com efeito humorístico."
                  />
                  <label for="A-usa a língua inglesa com efeito humorístico.">
                    A-usa a língua inglesa com efeito humorístico.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-recorre a vozes de vários escritores ingleses."
                    name="questao3"
                    value="B-recorre a vozes de vários escritores ingleses."
                  />
                  <label for="B-recorre a vozes de vários escritores ingleses.">
                    B-recorre a vozes de vários escritores ingleses.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C- adverte sobre o uso distorcido da língua inglesa."
                    name="questao3"
                    value="C- adverte sobre o uso distorcido da língua inglesa."
                  />
                  <label
                    for="C- adverte sobre o uso distorcido da língua inglesa."
                  >
                    C- adverte sobre o uso distorcido da língua inglesa.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-demonstra consciência de sua identidade linguística."
                    name="questao3"
                    value="D-demonstra consciência de sua identidade linguística."
                  />
                  <label
                    for="D-demonstra consciência de sua identidade linguística."
                  >
                    D-demonstra consciência de sua identidade linguística.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-reconhece a incompreensão na sua maneira de falar inglês."
                    name="questao3"
                    value="E-reconhece a incompreensão na sua maneira de falar inglês."
                  />
                  <label
                    for="E-reconhece a incompreensão na sua maneira de falar inglês."
                  >
                    E-reconhece a incompreensão na sua maneira de falar inglês.
                  </label>
                </div>

                <button
                  id="btnQ3ING"
                  type="button"
                  onclick="verificarQuestao3ING()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado3"></div>
            <div class="resolucao" id="resolucao3" style="display: none">
              <p>
                <strong>Resolução:</strong>
                D-demonstra consciência de sua identidade linguística.
              </p>
              <P>
                Os seguintes versos demonstram que a autora tem consciência de
                sua identidade linguística: All mine, mine alone, it is half
                English, half/ Indian, funny perhaps, but it is honest. Assim,
                ela sabe que é meio inglesa, meio indiana.
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>4. QUESTÃO 4-(Enem 2014)</h3>
              <P>The Road Not Taken (by Robert Frost)</P>

              <P>Two roads diverged in a wood, and I —</P>

              <P>I took the one less traveled by,</P>

              <P>And that has made all the difference.</P>

              <P
                >Estes são os versos finais do famoso poema The Road Not Taken,
                do poeta americano Robert Frost. Levando-se em consideração que
                a vida é comumente metaforizada como uma viagem, esses versos
                indicam que o autor:</P
              >
            </div>
            <form id="form4">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-festeja o fato de ter sido ousado na escolha que fez em sua vida."
                    name="questao4"
                    value="A-festeja o fato de ter sido ousado na escolha que fez em sua vida."
                  />
                  <label
                    for="A-festeja o fato de ter sido ousado na escolha que fez em sua vida."
                  >
                    A-festeja o fato de ter sido ousado na escolha que fez em
                    sua vida.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-lamenta por ter sido um viajante que encontrou muitas bifurcações."
                    name="questao4"
                    value="B-lamenta por ter sido um viajante que encontrou muitas bifurcações."
                  />
                  <label
                    for="B-lamenta por ter sido um viajante que encontrou muitas bifurcações."
                  >
                    B-lamenta por ter sido um viajante que encontrou muitas
                    bifurcações.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-viaja muito pouco e que essa escolha fez toda a diferença em sua vida."
                    name="questao4"
                    value="C-viaja muito pouco e que essa escolha fez toda a diferença em sua vida."
                  />
                  <label
                    for="C-viaja muito pouco e que essa escolha fez toda a diferença em sua vida. "
                  >
                    C-viaja muito pouco e que essa escolha fez toda a diferença
                    em sua vida.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-reconhece que as dificuldades em sua vida foram todas superadas."
                    name="questao4"
                    value="D-reconhece que as dificuldades em sua vida foram todas superadas."
                  />
                  <label
                    for="D-reconhece que as dificuldades em sua vida foram todas superadas."
                  >
                    D-reconhece que as dificuldades em sua vida foram todas
                    superadas.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-percorre várias estradas durante as diferentes fases de sua vida."
                    name="questao4"
                    value="E-percorre várias estradas durante as diferentes fases de sua vida."
                  />
                  <label
                    for="E-percorre várias estradas durante as diferentes fases de sua vida."
                  >
                    E-percorre várias estradas durante as diferentes fases de
                    sua vida.
                  </label>
                </div>

                <button
                  id="btnQ4ING"
                  type="button"
                  onclick="verificarQuestao4ING()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado4"></div>
            <div class="resolucao" id="resolucao4" style="display: none">
              <p>
                <strong>Resolução:</strong>
                A-festeja o fato de ter sido ousado na escolha que fez em sua
                vida.
              </p>
              <P>
                A alternativa [A] está correta, pois o poema pode ser entendido
                da seguinte maneira: “Havia a bifurcação de duas estradas em uma
                floresta e eu —/ Eu peguei aquela menos percorrida,/ E isso fez
                toda a diferença”. O fato de o eu lírico ter escolhido o caminho
                menos conhecido evidencia sua ousadia.
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>5. QUESTÃO 5-(Enem 2012)</h3>
              <P
                >I, too I, too, sing America. I am the darker brother. They send
                me to eat in the kitchen When company comes, But I laugh, And
                eat well, And grow strong. Tomorrow, I’ll be at the table When
                company comes. Nobody’ll dare Say to me, “Eat in the kitchen,”
                Then. Besides, They’ll see how beautiful I am And be ashamed I,
                too, am America.</P
              >

              <P
                >Langston Hughes foi um poeta negro americano que viveu no
                século XX e escreveu I, too em 1932. No poema, a personagem
                descreve uma prática racista que provoca nela um sentimento
                de:</P
              >
            </div>
            <form id="form5">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-coragem, pela superação."
                    name="questao5"
                    value="A-coragem, pela superação."
                  />
                  <label for="A-coragem, pela superação.">
                    A-coragem, pela superação.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-vergonha, pelo retraimento."
                    name="questao5"
                    value="B-vergonha, pelo retraimento."
                  />
                  <label for="B-vergonha, pelo retraimento.">
                    B-vergonha, pelo retraimento.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-compreensão, pela aceitação."
                    name="questao5"
                    value="C-compreensão, pela aceitação."
                  />
                  <label for="C-compreensão, pela aceitação.">
                    C-compreensão, pela aceitação.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-superioridade, pela arrogância."
                    name="questao5"
                    value="D-superioridade, pela arrogância."
                  />
                  <label for="D-superioridade, pela arrogância.">
                    D-superioridade, pela arrogância.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-resignação, pela submissão."
                    name="questao5"
                    value="E-resignação, pela submissão."
                  />
                  <label for="E-resignação, pela submissão.">
                    E-resignação, pela submissão.
                  </label>
                </div>

                <button
                  id="btnQ5ING"
                  type="button"
                  onclick="verificarQuestao5ING()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado5"></div>
            <div class="resolucao" id="resolucao5" style="display: none">
              <p>
                <strong>Resolução:</strong>
                A-coragem, pela superação.
              </p>
              <P>
                O eu lírico diz que seus senhores o colocam para comer na
                cozinha quando visitas chegam (They send me to eat in the
                kitchen/ When company comes). No entanto, o eu lírico expressa
                coragem e esperança de que sua situação mude ao dizer que no
                futuro (tomorrow) ninguém ousará colocá-lo na cozinha quando as
                visitas chegarem (Nobody’ll dare/ Say to me,/ “Eat in the
                kitchen,”/ Then).
              </P>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
