<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <head>
    <title>Página de Questões</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="container-questao">
          <img
            src="/img/materiasicons.png"
            alt="Descrição da imagem"
            width="1090"
          />
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
