<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('components/head') %>
    <title>portugues</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="container-questao">
          <h1>Português</h1>

          <h2>Página de Questões</h2>

          <div class="content-questao">
            <div class="questao">
              <h3>1.QUESTÃO 1-(Enem/2022)</h3>
              <p>A escrava</p>

              <P
                >— Admira-me —, disse uma senhora de sentimentos sinceramente
                abolicionistas —; faz-me até pasmar como se possa sentir, e
                expressar sentimentos escravocratas, no presente século, no
                século dezenove! A moral religiosa e a moral cívica aí se
                erguem, e falam bem alto esmagando a hidra que envenena a
                família no mais sagrado santuário seu, e desmoraliza, e avilta a
                nação inteira! Levantai os olhos ao Gólgota, ou percorrei-os em
                torno da sociedade, e dizei-me:</P
              >

              <p>
                — Para que se deu em sacrifício o Homem Deus, que ali exalou seu
                derradeiro alento? Ah! Então não é verdade que seu sangue era o
                resgate do homem! É então uma mentira abominável ter esse sangue
                comprado a liberdade!? E depois, olhai a sociedade... Não vedes
                o abutre que a corrói constantemente!… Não sentis a
                desmoralização que a enerva, o cancro que a destrói?
              </p>

              <p>
                Por qualquer modo que encaremos a escravidão, ela é, e será
                sempre um grande mal. Dela a decadência do comércio; porque o
                comércio e a lavoura caminham de mãos dadas, e o escravo não
                pode fazer florescer a lavoura; porque o seu trabalho é forçado.
              </p>

              <p>
                Inscrito na estética romântica da literatura brasileira, o conto
                descortina aspectos da realidade nacional no século XIX ao
              </p>
            </div>
            <form id="form1">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-revelar a imposição de crenças religiosas a pessoas escravizadas."
                    name="questao1"
                    value="A-revelar a imposição de crenças religiosas a pessoas escravizadas."
                  />
                  <label
                    for="A-revelar a imposição de crenças religiosas a pessoas escravizadas."
                    >A-revelar a imposição de crenças religiosas a pessoas
                    escravizadas.</label
                  >
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-apontar a hipocrisia do discurso conservador na defesa da escravidão."
                    name="questao1"
                    value="B-apontar a hipocrisia do discurso conservador na defesa da escravidão."
                  />
                  <label
                    for="B-apontar a hipocrisia do discurso conservador na defesa da escravidão."
                    >B-apontar a hipocrisia do discurso conservador na defesa da
                    escravidão.</label
                  >
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-sugerir práticas de violência física e moral em nome do progresso material."
                    name="questao1"
                    value="C-sugerir práticas de violência física e moral em nome do progresso material."
                  />
                  <label
                    for="C-sugerir práticas de violência física e moral em nome do progresso material."
                    >C-sugerir práticas de violência física e moral em nome do
                    progresso material.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-relacionar o declínio da produção agrícola e comercial a questões raciais."
                    name="questao1"
                    value="D-relacionar o declínio da produção agrícola e comercial a questões raciais."
                  />
                  <label
                    for="D-relacionar o declínio da produção agrícola e comercial a questões raciais.
                "
                    >D-relacionar o declínio da produção agrícola e comercial a
                    questões raciais.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-ironizar o comportamento dos proprietários de terra na exploração do trabalho."
                    name="questao1"
                    value="E-ironizar o comportamento dos proprietários de terra na exploração do trabalho."
                  />
                  <label
                    for="E-ironizar o comportamento dos proprietários de terra na exploração do trabalho.
                "
                    >E-ironizar o comportamento dos proprietários de terra na
                    exploração do trabalho.
                  </label>
                </div>
                <button
                  id="btnQ1PORT"
                  type="button"
                  onclick="verificarQuestao1PORT()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado1"></div>
            <div class="resolucao" id="resolucao1" style="display: none">
              <p>
                <strong>Resolução:</strong>B-apontar a hipocrisia do discurso
                conservador na defesa da escravidão.
              </p>
              <P>
                O discurso da senhora, "de sentimentos sinceramente
                abolicionistas", mostra o quanto ela está admirada e pasmada,
                conforme ela própria diz, com os sentimentos escravocratas no
                século dezenove. No trecho do conto acima há argumentos da
                senhora, que conclui que "Por qualquer modo que encaremos a
                escravidão, ela é, e será sempre um grande mal.", portanto, não
                há como defender a escravidão e se os conservadores defendem,
                eles são hipócritas.
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>2. QUESTÃO 2-(Enem/2022)</h3>
              <P>Ser cronista</P>

              <P
                >Sei que não sou, mas tenho meditado ligeiramente no assunto.</P
              >

              <P>
                Crônica é um relato? É uma conversa? É um resumo de um estado de
                espírito? Não sei, pois antes de começar a escrever para o
                Jornal do Brasil, eu só tinha escrito romances e contos.</P
              >

              <P>
                E também sem perceber, à medida que escrevia para aqui, ia me
                tornando pessoal demais, correndo o risco de em breve publicar
                minha vida passada e presente, o que não pretendo. Outra coisa
                notei: basta eu saber que estou escrevendo para o jornal, isto
                é, para algo aberto facilmente por todo o mundo, e não para um
                livro, que só é aberto por quem realmente quer, para que, sem
                mesmo sentir, o modo de escrever se transforme. Não é que me
                desagrade mudar, pelo contrário. Mas queria que fossem mudanças
                mais profundas e interiores que não viessem a se refletir no
                escrever. Mas mudar só porque isso é uma coluna ou uma crônica?
                Ser mais leve só porque o leitor assim o quer? Divertir? Fazer
                passar uns minutos de leitura? E outra coisa: nos meus livros
                quero profundamente a comunicação profunda comigo e com o
                leitor. Aqui no jornal apenas falo com o leitor e agrada-me que
                ele fique agradado. Vou dizer a verdade: não estou contente.</P
              >

              <P>
                No texto, ao refletir sobre a atividade de cronista, a autora
                questiona características do gênero crônica, como:</P
              >
            </div>
            <form id="form2">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-relação distanciada entre os interlocutores."
                    name="questao2"
                    value="A-relação distanciada entre os interlocutores."
                  />
                  <label for="A-relação distanciada entre os interlocutores."
                    >A-relação distanciada entre os interlocutores.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-articulação de vários núcleos narrativos."
                    name="questao2"
                    value="B-articulação de vários núcleos narrativos."
                  />
                  <label for="B-articulação de vários núcleos narrativos."
                    >B-articulação de vários núcleos narrativos.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-brevidade no tratamento da temática."
                    name="questao2"
                    value="C-brevidade no tratamento da temática."
                  />
                  <label for="C-brevidade no tratamento da temática."
                    >C-brevidade no tratamento da temática.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-descrição minuciosa dos personagens."
                    name="questao2"
                    value="D-descrição minuciosa dos personagens."
                  />
                  <label for="D-descrição minuciosa dos personagens."
                    >D-descrição minuciosa dos personagens.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-público leitor exclusivo."
                    name="questao2"
                    value="E-público leitor exclusivo."
                  />
                  <label for="E-público leitor exclusivo."
                    >E-público leitor exclusivo.
                  </label>
                </div>
                <button
                  id="btnQ2PORT"
                  type="button"
                  onclick="verificarQuestao2PORT()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado2"></div>
            <div class="resolucao" id="resolucao2" style="display: none">
              <p>
                <strong>Resolução:</strong> C-brevidade no tratamento da
                temática.
              </p>
              <P>
                No texto acima, Clarice Lispector expõe as suas perspectivas
                sobre as crônicas. Ao questionar-se se a crônica seria um
                relato, uma conversa ou um resumo, o texto dá indicações da
                questão da brevidade. Em seguida, Clarice fala na leveza do
                texto e até em "passar uns minutos de leitura", enquanto nos
                seus livros, Clarice expõe o seu desejo de se comunicar
                profundamente com o leitor, o que a crônica não permite fazer,
                justamente tendo em conta o fato de a crônica ser um texto
                curto, breve.
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>3. QUESTÃO 3-(Enem/2018)</h3>
              <P><img src="/img/IMAGEM DE ARTES QUESTÃO 4.png" /></P>
              <P
                >A internet proporcionou o surgimento de novos paradigmas
                sociais e impulsionou a modificação de outros já estabelecidos
                nas esferas da comunicação e da informação. A principal
                consequência criticada na tirinha sobre esse processo é a:</P
              >
            </div>
            <form id="form3">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-criação de memes."
                    name="questao3"
                    value="A-criação de memes."
                  />
                  <label for="A-criação de memes."> A-criação de memes. </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-ampliação da blogosfera."
                    name="questao3"
                    value="B-ampliação da blogosfera."
                  />
                  <label for="B-ampliação da blogosfera.">
                    B-ampliação da blogosfera.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-supremacia das ideias cibernéticas."
                    name="questao3"
                    value="C-supremacia das ideias cibernéticas."
                  />
                  <label for="C-supremacia das ideias cibernéticas.">
                    C-supremacia das ideias cibernéticas.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-comercialização de pontos de vista."
                    name="questao3"
                    value="D-comercialização de pontos de vista."
                  />
                  <label for="D-comercialização de pontos de vista.">
                    D-comercialização de pontos de vista.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-banalização do comércio eletrônico."
                    name="questao3"
                    value="E-banalização do comércio eletrônico."
                  />
                  <label for="E-banalização do comércio eletrônico.">
                    E-banalização do comércio eletrônico.
                  </label>
                </div>

                <button
                  id="btnQ3PORT"
                  type="button"
                  onclick="verificarQuestao3PORT()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado3"></div>
            <div class="resolucao" id="resolucao3" style="display: none">
              <p>
                <strong>Resolução:</strong>
                D-comercialização de pontos de vista.
              </p>
              <P>
                A- ERRADA. Os memes não são alvo de crítica. A única referência
                feita a eles na tirinha indica a diferença de preço entre meme e
                "textão". </P
              ><P>
                B- ERRADA. Embora o primeiro quadro da tirinha faça uma menção a
                blogs ("Você não era blogueiro da oposição?"), ele não está
                relacionado com o aumento da blogosfera, que é um espaço virtual
                que reúne os blogs e blogueiros como uma rede social. </P
              ><P>
                C- ERRADA. Na tirinha, não existe qualquer referência à
                cibernética. </P
              ><P>
                D- CORRETA. A tirinha critica a postura oportunista de alguns
                profissionais. O primeiro quadro, por exemplo, mostra como a
                ética pode ficar em segundo plano em função de vantagens
                pessoais. (o "blogueiro de esquerda" deixa de o ser por conta de
                uma oportunidade profissional). </P
              ><P>
                E- ERRADA. À primeira vista, o conteúdo pode ser relacionado com
                o comércio eletrônico, porque a tirinha menciona termos
                relacionados à cobrança ("Meme eu cobro x") e a preço ("Viu o
                preço da opinião na Internet?"), no entanto, o título aponta
                para um tema que vai além do comércio eletrônico ("Ideologia e
                Internet").
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>4. QUESTÃO 4-(Enem/2018)</h3>
              <P><img src="/img/questao 4 enem port.png" /></P>
              <P
                >Nessa campanha, a principal estratégia para convencer o leitor
                a fazer a reciclagem do lixo é a utilização da linguagem não
                verbal como argumento para:</P
              >
            </div>
            <form id="form4">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-reaproveitamento de material."
                    name="questao4"
                    value="A-reaproveitamento de material."
                  />
                  <label for="A-reaproveitamento de material.">
                    A-reaproveitamento de material.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-facilidade na separação do lixo."
                    name="questao4"
                    value="B-facilidade na separação do lixo."
                  />
                  <label for="B-facilidade na separação do lixo.">
                    B-facilidade na separação do lixo.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-melhoria da condição do catador."
                    name="questao4"
                    value="C-melhoria da condição do catador."
                  />
                  <label for="C-melhoria da condição do catador. ">
                    C-melhoria da condição do catador.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-preservação de recursos naturais."
                    name="questao4"
                    value="D-preservação de recursos naturais."
                  />
                  <label for="D-preservação de recursos naturais.">
                    D-preservação de recursos naturais.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-geração de renda para o trabalhador."
                    name="questao4"
                    value="E-geração de renda para o trabalhador."
                  />
                  <label for="E-geração de renda para o trabalhador.">
                    E-geração de renda para o trabalhador.
                  </label>
                </div>

                <button
                  id="btnQ4PORT"
                  type="button"
                  onclick="verificarQuestao4PORT()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado4"></div>
            <div class="resolucao" id="resolucao4" style="display: none">
              <p>
                <strong>Resolução:</strong>
                A-reaproveitamento de material.
              </p>
              <P>
                A- CORRETA. Agulha, tesoura, linha e fita métrica junto da
                garrafa PET dão a indicação de como o plástico pode virar tecido
                e é disso que a campanha pretende convencer o leitor. </P
              ><P>
                B- ERRADA.Apesar de conter dois cestos - seco e úmido - o
                destaque da imagem é para a garrafa PET com objetos utilizados
                na costura, ou seja, o reaproveitamento, e não a separação do
                lixo. </P
              ><P>
                C-ERRADA. A linguagem não-verbal não faz referências aos
                catadores de lixo, que são mencionados apenas no conteúdo
                escrito ("Separar o lixo facilita o trabalho dos catadores..."). </P
              ><P>
                D-ERRADA. A imagem acima não faz qualquer menção a recursos
                naturais. Já no que respeita à linguagem verbal, o texto termina
                com "Assim, você ajuda a gerar renda para quem precisa e poupa
                recursos naturais". </P
              ><P>
                E- ERRADA. A campanha, no que respeita à linguagem não-verbal,
                não promove qualquer relação com geração de renda.
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>5. QUESTÃO 5-(Enem/2018)</h3>
              <P
                >Somente uns tufos secos de capim empedrados crescem na
                silenciosa baixada que se perde de vista. Somente uma árvore,
                grande e esgalhada mas com pouquíssimas folhas, abre-se em
                farrapos de sombra. Único ser nas cercanias, a mulher é magra,
                ossuda, seu rosto está lanhado de vento. Não se vê o cabelo,
                coberto por um pano desidratado. Mas seus olhos, a boca, a pele
                – tudo é de uma aridez sufocante. Ela está de pé. A seu lado
                está uma pedra. O sol explode.</P
              >

              <P
                >Ela estava de pé no fim do mundo. Como se andasse para aquela
                baixada largando para trás suas noções de si mesma. Não tem
                retratos na memória. Desapossada e despojada, não se abate em
                autoacusações e remorsos. Vive.</P
              >

              <P
                >Sua sombra somente é que lhe faz companhia. Sua sombra, que se
                derrama em traços grossos na areia, é que adoça como um gesto a
                claridade esquelética. A mulher esvaziada emudece, se dessangra,
                se cristaliza, se mineraliza. Já é quase de pedra como a pedra a
                seu lado. Mas os traços de sua sombra caminham e, tornando-se
                mais longos e finos, esticam-se para os farrapos de sombra da
                ossatura da árvore, com os quais se enlaçam.</P
              >

              <P
                >Na apresentação da paisagem e da personagem, o narrador
                estabelece uma correlação de sentidos em que esses elementos se
                entrelaçam. Nesse processo, a condição humana configura-se:</P
              >
            </div>
            <form id="form5">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-amalgamada pelo processo comum de desertificação e de solidão."
                    name="questao5"
                    value="A-amalgamada pelo processo comum de desertificação e de solidão."
                  />
                  <label
                    for="A-amalgamada pelo processo comum de desertificação e de solidão."
                  >
                    A-amalgamada pelo processo comum de desertificação e de
                    solidão.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-fortalecida pela adversidade extensiva à terra e aos seres vivos."
                    name="questao5"
                    value="B-fortalecida pela adversidade extensiva à terra e aos seres vivos."
                  />
                  <label
                    for="B-fortalecida pela adversidade extensiva à terra e aos seres vivos."
                  >
                    B-fortalecida pela adversidade extensiva à terra e aos seres
                    vivos.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-redimensionada pela intensidade da luz e da exuberância local."
                    name="questao5"
                    value="C-redimensionada pela intensidade da luz e da exuberância local."
                  />
                  <label
                    for="C-redimensionada pela intensidade da luz e da exuberância local."
                  >
                    C-redimensionada pela intensidade da luz e da exuberância
                    local.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-imersa num drama existencial de identidade e de origem."
                    name="questao5"
                    value="D-imersa num drama existencial de identidade e de origem."
                  />
                  <label
                    for="D-imersa num drama existencial de identidade e de origem."
                  >
                    D-imersa num drama existencial de identidade e de origem.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-imobilizada pela escassez e pela opressão do ambiente."
                    name="questao5"
                    value="E-imobilizada pela escassez e pela opressão do ambiente."
                  />
                  <label
                    for="E-imobilizada pela escassez e pela opressão do ambiente."
                  >
                    E-imobilizada pela escassez e pela opressão do ambiente.
                  </label>
                </div>

                <button
                  id="btnQ5PORT"
                  type="button"
                  onclick="verificarQuestao5PORT()"
                >
                  Verificar
                </button>
              </div>
            </form>

            <div class="resultado" id="resultado5"></div>
            <div class="resolucao" id="resolucao5" style="display: none">
              <p>
                <strong>Resolução:</strong>
                A-amalgamada pelo processo comum de desertificação e de solidão.
              </p>
              <P>
                A- CORRETA. O trecho final do texto descreve bem esse processo,
                em que paisagem e personagem parecem misturar-se como algo
                único: "Já é quase de pedra como a pedra a seu lado. Mas os
                traços de sua sombra caminham e, tornando-se mais longos e
                finos, esticam-se para os farrapos de sombra da ossatura da
                árvore, com os quais se enlaçam." </P
              ><P>
                B- ERRADA. O texto não mostra uma mulher forte, mas numa
                condição conformada à situação: "Desapossada e despojada, não se
                abate em autoacusações e remorsos. Vive.". </P
              ><P>
                C- ERRADA. A paisagem é simples, sem evidência de qualquer
                exuberância local: "Somente uns tufos secos de capim empedrados
                crescem na silenciosa baixada que se perde de vista.". </P
              ><P>
                D- ERRADA. O texto não contém qualquer questionamento que
                evidencie drama existencial por parte da personagem. Pelo
                contrário, a mulher assume uma postura conformada, tal como já
                referido: "Desapossada e despojada, não se abate em
                autoacusações e remorsos". </P
              ><P>
                E- ERRADA. O texto revela, sim, a escassez do ambiente, condição
                que oprime a mulher. Apesar disso, a personagem passa por um
                processo de fundição com a paisagem, tal como consta na
                alternativa A.
              </P>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
