<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('components/head') %>
    <title>Quem Somos?</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <section>
        <div class="tudoquemsomos">
          <div class="title-quem-somos">
            <h1>Quem Somos?</h1>
            <p>
              A plataforma acadêmica "Quest Vest" é um site de estudos voltado
              para o vestibular, onde no mesmo é possível ver conteúdos de todas
              as matérias, realizar quiz e exercícios para fixar o aprendizado
              de uma matéria de forma rápida e fácil, sendo assim, trazendo
              melhorias e instruções para os jovens do novo ensino médio que
              pretendem passar em exames externos.
            </p>
            <p>
              Somos alunos do ensino médio da E.E.DR Celso Gama, com o propósito
              de ajudar outros estudantes a realizarem seus sonhos acadêmicos.
              Juntos desenvolvemos essa plataforma com o intuito de ser um apoio
              de estudos para os estudantes passarem em seus exames almejados.
            </p>
            <h2>Missão</h2>
            <p>
              Nossa missão é oferecer ferramentas e recursos acessíveis e fáceis
              para maximizar o tempo e a qualidade de estudo do aluno, sempre
              com o objetivo de ter resultados melhores em seus vestibulares com
              o foco nos aprendizes do novo ensino médio diante das dificuldades
              sendo enfrentadas com a nova grade curricular.
            </p>
            <h2>Visão</h2>
            <p>
              Nossa visão com essa plataforma é ensinar e preparar todos os
              alunos para os vestibulares, independente de suas condições
              financeiras e acadêmicas, assim em um prazo de 1 ano a 2 anos
              nossos vestibulandos estejam prontos para ter um bom desempenho
              desejado nos concursos.
            </p>
            <h2>Valores</h2>
            <p>
              Os nossos valores envolve a integridade pois temos o compromisso
              com a honestidade, sempre mantendo a confiança com os nossos
              vestibulandos. A inovação é de extrema importância pois queremos
              que os jovens tenham gosto por estudar, conseguindo ir atrás de
              seus sonhos, assim conquista-los. Inquestionavelmente prezamos
              pela diversidade pois somos todos diferentes uns dos outros,
              portanto queremos passar conhecimento de uma forma igualitária.
            </p>
            <h2>Sobre nós</h2>
            <p>
              A ideia chave para criar esse site partiu do fato que nos vimos
              prejudicados com a nova base curricular do novo ensino médio em
              parceira com o curso técnico. Então decidimos criar uma plataforma
              para auxiliar nos estudos de matérias bases para prestarmos o
              vestibular. Temos como principal objetivo ajudar alunos que assim
              como nós passam pelo mesmo problema, entretanto queremos ajudar a
              todos que não têm condições de fazer um cursinho preparatório para
              o vestibular, tendo impedidos financeiramente ou disponibilidade
              de tempo. Somos alunos da Escola Estadual Doutor Celso Gama , e
              por ser integral não temos disponibilidade de tempo para
              estudarmos por fora , assim o nosso site garante conhecimento
              básico e rápido para você realizar seus sonhos acadêmicos.
            </p>
          </div>
          <div class="container-avatar">
            <div class="content-avatar">
              <h1 class="founders">Fundadores</h1>
              <div class="avatar avatar1">
                <div class="avatar-photo">
                  <i class="bx bxs-user"></i>
                </div>
                <div class="avatar-name">
                  <h3>Laura</h3>
                </div>
              </div>
              <div class="avatar avatar2">
                <div class="avatar-photo">
                  <i class="bx bxs-user"></i>
                </div>
                <div class="avatar-name">
                  <h3>Balestre</h3>
                </div>
              </div>
              <div class="avatar avatar3">
                <div class="avatar-photo">
                  <i class="bx bxs-user"></i>
                </div>
                <div class="avatar-name">
                  <h3>Maria Clara</h3>
                </div>
              </div>
              <div class="sobre-nos"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
