<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('components/head') %>
    <title>sociologia</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="container-questao">
          <h1>Sociologia</h1>

          <h2>Página de Questões</h2>
          <div class="content-questao">
            <div class="questao">
              <h3>1.QUESTÃO 1-(Enem/2017)</h3>
              <p>
                O conceito de democracia, no pensamento de Habermas, é
                construído a partir de uma dimensão procedimental, calcada no
                discurso e na deliberação. A legitimidade democrática exige que
                o processo de tomada de decisões políticas ocorra a partir de
                uma ampla discussão pública, para somente então decidir. Assim,
                o caráter deliberativo corresponde a um processo coletivo de
                ponderação e análise, permeado pelo discurso, que antecede a
                decisão. O conceito de democracia proposto por Jürgen Habermas
                pode favorecer processos de inclusão social. De acordo com o
                texto, é uma condição para que isso aconteça o(a):
              </p>
            </div>
            <form id="form1">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-participação direta periódica do cidadão."
                    name="questao1"
                    value="A-participação direta periódica do cidadão."
                  />
                  <label for="A-participação direta periódica do cidadão."
                    >A-participação direta periódica do cidadão.</label
                  >
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-debate livre e racional entre cidadãos e Estado."
                    name="questao1"
                    value="B-debate livre e racional entre cidadãos e Estado."
                  />
                  <label
                    for="B-debate livre e racional entre cidadãos e Estado."
                    >B-debate livre e racional entre cidadãos e Estado.</label
                  >
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-interlocução entre os poderes governamentais."
                    name="questao1"
                    value="C-interlocução entre os poderes governamentais."
                  />
                  <label for="C-interlocução entre os poderes governamentais."
                    >C-interlocução entre os poderes governamentais.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-eleição de lideranças políticas com mandatos temporários."
                    name="questao1"
                    value="D-eleição de lideranças políticas com mandatos temporários."
                  />
                  <label
                    for="D-eleição de lideranças políticas com mandatos temporários.
                "
                    >D-eleição de lideranças políticas com mandatos temporários.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-controle do poder político por cidadãos mais esclarecidos."
                    name="questao1"
                    value="E-controle do poder político por cidadãos mais esclarecidos."
                  />
                  <label
                    for="E-controle do poder político por cidadãos mais esclarecidos."
                    >E-controle do poder político por cidadãos mais
                    esclarecidos.
                  </label>
                </div>
                <button
                  id="btnQ1S"
                  type="button"
                  onclick="verificarQuestao1S()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado1"></div>
            <div class="resolucao" id="resolucao1" style="display: none">
              <p>
                <strong>Resolução:</strong>B-debate livre e racional entre
                cidadãos e Estado.
              </p>
              <P>
                O Pensamento de Habermas é marcado pela chamada democracia
                deliberativa. Nela, o debate livre e racional entre cidadãos e
                Estado estabeleceria as bases necessárias para a participação e
                a cidadania. As outras alternativas estão erradas porque: </P
              ><P>
                A- A participação do cidadão é uma preocupação no que diz
                respeito à legitimação do Estado. Entretanto, para o autor, essa
                participação é contínua, não acontece em períodos específicos. </P
              ><P>
                C- Para Habermas, a democracia é pautada no poder do povo
                através da deliberação coletiva em todas as decisões do Estado.
                Assim, não tem como base a interlocução entre os poderes do
                governo. </P
              ><P>
                D- Habermas propõe que o amplo debate seja realizado
                publicamente, e não como reforço da democracia representativa,
                em que somente os políticos eleitos são os responsáveis por
                defender os interesses de seus eleitores. </P
              ><P>
                E- O autor propõe o esclarecimento dos cidadãos para que todos
                possam agir criticamente e não uma sofocracia (governo dos mais
                sábios).
              </P>
            </div>
          </div>
          <div class="content-questao">
            <div class="questao">
              <h3>2. QUESTÃO 2-(Enem/2017)</h3>
              <P
                >A participação da mulher no processo de decisão política ainda
                é extremamente limitada em praticamente todos os países,
                independentemente do regime econômico e social e da estrutura
                institucional vigente em cada um deles. É fato público e
                notório, além de empiricamente comprovado, que as mulheres estão
                em geral sub-representadas nos órgãos do poder, pois a proporção
                não corresponde jamais ao peso relativo dessa parte da
                população. No âmbito do Poder Legislativo brasileiro, a
                tentativa de reverter esse quadro de sub-representação tem
                envolvido a implementação, pelo Estado, de:</P
              >
            </div>
            <form id="form2">
              <div class="select-answer">
                <div>
                  <input
                    type="radio"
                    id="A-leis de combate à violência doméstica."
                    name="questao2"
                    value="A-leis de combate à violência doméstica."
                  />
                  <label for="A-leis de combate à violência doméstica."
                    >A-leis de combate à violência doméstica.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="B-cotas de gênero nas candidaturas partidárias."
                    name="questao2"
                    value="B-cotas de gênero nas candidaturas partidárias."
                  />
                  <label for="B-cotas de gênero nas candidaturas partidárias."
                    >B-cotas de gênero nas candidaturas partidárias.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="C-programas de mobilização política nas escolas."
                    name="questao2"
                    value="C-programas de mobilização política nas escolas."
                  />
                  <label for="C-programas de mobilização política nas escolas."
                    >C-programas de mobilização política nas escolas.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="D-propagandas de incentivo ao voto consciente."
                    name="questao2"
                    value="D-propagandas de incentivo ao voto consciente."
                  />
                  <label for="D-propagandas de incentivo ao voto consciente."
                    >D-propagandas de incentivo ao voto consciente.
                  </label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="E-apoio financeiro às lideranças femininas."
                    name="questao2"
                    value="E-apoio financeiro às lideranças femininas."
                  />
                  <label for="E-apoio financeiro às lideranças femininas."
                    >E-apoio financeiro às lideranças femininas.
                  </label>
                </div>
                <button
                  id="btnQ2S"
                  type="button"
                  onclick="verificarQuestao2S()"
                >
                  Verificar
                </button>
              </div>
            </form>
            <div class="resultado" id="resultado2"></div>
            <div class="resolucao" id="resolucao2" style="display: none">
              <p>
                <strong>Resolução:</strong> B-cotas de gênero nas candidaturas
                partidárias.
              </p>
              <P>
                As cotas de gênero nas eleições são uma política compensatória
                que visa democratizar o acesso aos cargos tradicionalmente
                exercidos por homens. As outras alternativas estão erradas
                porque: </P
              ><P>
                A- As leis de combate à violência doméstica visam reparar um
                outro efeito de uma cultura centrada na figura masculina.
                Estudos mostram que a violência contra a mulher tem como um dos
                fundamentos o desenvolvimento cultural que tradicionalmente
                buscou subordinar as mulheres em relação aos homens. O Brasil
                apresenta uma baixa representatividade feminina no governo. No
                ranking, a partir de um relatório da ONU de 2019 sobre a
                participação feminina no governo, o Brasil encontra-se em 149º
                lugar entre 188 países. A participação de mulheres na política é
                aproximadamente de 9% o que é um número muito contrastante em
                relação à população, composta por cerca de 52% de mulheres. </P
              ><P>
                C- A mobilização política nas escolas, apesar de sua importância
                para a politização dos estudantes, não garante a democratização
                e a participação feminina na política. </P
              ><P>
                D- Os programas de incentivo ao voto consciente também fazem
                parte da resolução da questão, mas não atingem diretamente a
                participação feminina. </P
              ><P> E- O Estado brasileiro não possui esse tipo de programa. </P>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
