<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="paragrafo">
        <h1>Vestibulares</h1>
        <p>
          Os vestibulares são essências para a formação do individuo no mundo
          acadêmico , preparando-o para entrar nas faculdades, cursos técnicos
          que vão leva-lo para uma carreira bem sucedida. O preparo antes das
          provas para vestibulares são de extrema importância para alcançar a
          nota desejada, entretanto elas também os motiva para o desenvolvimento
          de habilidades como na gestão do tempo, disciplina, resolução de
          problemas e foco no objetivo. Existem diversos vestibulares para
          alcançar o ensino superior, como:
        </p>
        <p>
          Enem: Que tem como objetivo ingressar os estudantes nas principais
          faculdades no Brasil.
        </p>
        <p>
          Fuvest: Essa prova tem como objetivo, ingressar os vestibulandos para
          Universidade de São Paulo (USP).
        </p>
        <p>
          Provão Paulista: Tem o intuito de ajudar os estudantes de Escola
          Pública a entrar em Universidades Públicas, tendo uma prova similar ao
          modelo Enem.
        </p>
        <p>
          Fatec: Um vestibular própria da instituição, para entrar somente na
          Fatec, tendo uma prova objetiva para realização de cursos voltados
          para tecnologia.
        </p>
      </div>
      <div>
        <br />
        <div style="text-align: center">
          <ul
            style="
              list-style-type: none;
              padding: 0;
              display: inline-flex;
              align-items: center;
              justify-content: center;
            "
          >
            <li style="margin: 0 20px">
              <h3 style="margin-bottom: 10px">Enem 2023</h3>
              <img
                src="/img/1.png"
                alt="Imagem 1"
                style="vertical-align: middle; margin-right: 10px"
              />
              <a href="/files/2023 azul primeiro dia.pdf" target="_blank"
                 ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 1-Prova
                </p></a
              >
              <a href="/files/2023 azul primeiro dia gabarito.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 1-Gabarito
                </p></a
              >
              <a href="/files/2023 azul segundo dia.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 2-Prova
                </p></a
              >
              <a href="/files/2023 azul segundo dia gabarito.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 2-Gabarito
                </p></a
              >
            </li>
            <li style="margin: 0 20px">
              <h3 style="margin-bottom: 10px">Enem 2022</h3>
              <img
                src="/img/1.png"
                alt="Imagem 2"
                style="vertical-align: middle; margin-right: 10px"
              />
              <a href="/files/2022 amarela primeiro dia.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 1-Prova
                </p></a
              >
              <a href="/files/2022 amarela primeiro dia gabarito.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 1-Gabarito
                </p></a
              >
              <a href="/files/2022 amarela segundo dia.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 2-Prova
                </p></a
              >
              <a href="/files/2022 amarela segundo dia gabarito.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 2-Gabarito
                </p></a
              >
            </li>
            <li style="margin: 0 20px">
              <h3 style="margin-bottom: 10px">Enem 2021</h3>
              <img
                src="/img/1.png"
                alt="Imagem 3"
                style="vertical-align: middle; margin-right: 10px"
              />
              <a href="/files/2021 rosa primeiro dia.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 1-Prova
                </p></a
              >
              <a href="/files/2021 rosa primeiro dia gabarito.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 1-Gabarito
                </p></a
              >
              <a href="/files/2021 rosa segundo dia.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 2-Prova
                </p></a
              >
              <a href="/files/2021 rosa segundo dia gabarito.pdf" target="_blank"
                ><p
                  style="margin-top: 10px; text-decoration: none; color: #000"
                >
                  Dia 2-Gabarito
                </p></a
              >
            </li>
          </ul>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
