<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>produtos</h1>
      <%- include('components/footer') %>
    </main>
    <%- include('components/script') %>
  </body>
</html>
