<header class="header-home">
  <picture class="img-logo">
    <img src="/logocelso.png" alt="" />
  </picture>
  <div class="container">
    <nav class="main-menu">
      <ul>
        <li><a href="/home">Home</a></li>
        <li>
          <a href="#">Livros</a>
          <ul>
            <li><a href="/livros/romance">Romance</a></li>
            <li><a href="/livros/terror">Terror</a></li>
            <li><a href="/livros/suspense">Suspense</a></li>
            <li><a href="/livros/hqs">HQ's</a></li>
            <li><a href="/livros/comedia">Comedia</a></li>
            <li><a href="/livros/criminais">Criminais</a></li>
            <li><a href="/livros/fabulas">Fabulas</a></li>
            <li><a href="/livros/gibis">Gibis</a></li>
          </ul>
        </li>
        <li><a href="/registerBooks">Cadastrar Livros</a></li>
        <li><a href="/alunos">Cadastrar Alunos</a></li>
        <li><a href="/loanBooks">Emprestimo de Livros</a></li>
        <li><a href="/logout">Sair</a></li>
      </ul>
    </nav>
  </div>
</header>
