<footer>
  <div class="content-footer">
    <h3 class="rodape2">
      <br />
    </h3>
    <h3 class="questvestrodape">QuestVest ©</h3>
  </div>
</footer>
<script src="/assets/js/script.js"></script>
