<div class="menu-materias" id="menu-materias">
  <h1>Matérias</h1>
  <nav>
    <ul>
      <li>
        <a href="/materias/educacao-fisica"> Educação Física </a>
      </li>
      <li>
        <a href="/materias/tecnologias-da-informacao-e-comunicacao">
          Tecnologias da Informação e Comunicação
        </a>
      </li>
      <li><a href="/materias/artes">Artes</a></li>
      <li><a href="/materias/historia">História</a></li>
      <li><a href="/materias/geografia">Geografia</a></li>
      <li><a href="/materias/filosofia">Filosofia</a></li>
      <li><a href="/materias/sociologia">Sociologia</a></li>
      <li><a href="/materias/biologia">Biologia</a></li>
      <li><a href="/materias/fisica">Física</a></li>
      <li><a href="/materias/quimica">Química</a></li>
      <li><a href="/materias/portugues">Português</a></li>
      <li><a href="/materias/espanhol">Espanhol</a></li>
      <li><a href="/materias/ingles">Inglês</a></li>
      <li><a href="/materias/matematica">Matemática</a></li>
    </ul>
  </nav>
</div>
